body{
    font-family: Arial, sans-serif;
    background-color: #e1ecf5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #a9d2f3;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 26px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0478bb;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0864ba;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}
